@charset "utf-8";
/* CSS Document */

body {
    
    background-color: floralwhite;
    font-family: arial, helvetica; 
}

.rawr{

    text-align: center;
    text-decoration: none; 
    font: italic;

}

.frijoles{
    
    text-align: center;
    text-decoration: none; 
    font: italic;

}

.ardillas{
    
    text-align: center;
    text-decoration: none; 
    font: italic;

}

.chunche{
    
    text-align: center;
    text-decoration: none; 
    font: italic;
 
}
