@charset "utf-8";
/* CSS Document */

body{
    
    font-family: arial, helvetica; 
    background-color: #e8e8e8;
}

.menu{
    list-style: none;
    padding:0;
    background: #000000; 
    width: 90%;
    max-width: 1000px; 
    margin: auto; 
    
}

.menu li a{
    
    text-decoration: none; 
    color: white; 
    padding: 20px; 
    display: block; 
    
}


.menu li{
    display: inline-block;
    text-align: center;
    
}

.menu li a:hover {
    background: #3336CC;
    
    
}

body {
    
    background-color: #131D30;
}  
    
.container {
     
    width: 100%;
    max-width: 1200px;
    height: 430px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    
}

.container .card{
    
    width: 290px;
    height: 280px;
    border-radius: 5pc;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: 20px;
    text-align: center;
    transition: all 0.25s;
    background-color: white;
}

.container .card:hover{
    
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}

.container .card img{
    
    width: 250px;
    height: 220px;
}

.container .card h4{
    
    font-weight: 600;
    color:black;
}

.container .card p{
    
    padding: 0 Irem;
    font-size: 16px;
    font-weight: 300;
    color:black;
}

.container {
     
    width: 100%;
    max-width: 1200px;
    height: 430px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    
}

.container .pasta{
    
    width: 290px;
    height: 280px;
    border-radius: 5pc;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: 20px;
    text-align: center;
    transition: all 0.25s;
    background-color: white;
}

.container .pasta:hover{
    
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}

.container .pasta img{
    
    width: 220px;
    height: 220px;
}

.container .pasta h4{
    
    font-weight: 600;
    color:black;
}

.container {
     
    width: 100%;
    max-width: 1200px;
    height: 430px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    
}

.container .pas{
    
    width: 290px;
    height: 280px;
    border-radius: 5pc;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: 20px;
    text-align: center;
    transition: all 0.25s;
    background-color: white;
}

.container .pas:hover{
    
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}

.container .pas img{
    
    width: 220px;
    height: 220px;
}

.container .pas h4{
    
    font-weight: 600;
    color:black;
}

.container {
     
    width: 100%;
    max-width: 1200px;
    height: 430px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    
}

.container .pasas{
    
    width: 290px;
    height: 280px;
    border-radius: 5pc;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: 20px;
    text-align: center;
    transition: all 0.25s;
    background-color: white;
}

.container .pasas:hover{
    
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}

.container .pasas img{
    
    width: 220px;
    height: 220px;
}

.container .pasas h4{
    
    font-weight: 600;
    color:black;
}


.container {
     
    width: 100%;
    max-width: 1200px;
    height: 430px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    
}

.container .arbol{
    
    width: 290px;
    height: 280px;
    border-radius: 5pc;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: 20px;
    text-align: center;
    transition: all 0.25s;
    background-color: white;
}

.container .arbol:hover{
    
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}

.container .arbol img{
    
    width: 220px;
    height: 220px;
}

.container .arbol h4{
    
    font-weight: 600;
    color:black;
}

.container {
     
    width: 100%;
    max-width: 1200px;
    height: 430px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    
}

.container .flor{
    
    width: 290px;
    height: 280px;
    border-radius: 5pc;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: 20px;
    text-align: center;
    transition: all 0.25s;
    background-color: white;
}

.container .flor:hover{
    
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}

.container .flor img{
    
    width: 250px;
    height: 220px;
}

.container .flor h4{
    
    font-weight: 600;
    color:black;
}

.container {
     
    width: 100%;
    max-width: 1200px;
    height: 430px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    
}

.container .ardilla{
    
    width: 290px;
    height: 280px;
    border-radius: 5pc;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: 20px;
    text-align: center;
    transition: all 0.25s;
    background-color: white;
}

.container .ardilla:hover{
    
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}

.container .ardilla img{
    
    width: 220px;
    height: 220px;
}

.container .ardilla h4{
    
    font-weight: 600;
    color:black;
}

.container {
     
    width: 100%;
    max-width: 1200px;
    height: 430px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    
}

.container .tomate{
    
    width: 290px;
    height: 280px;
    border-radius: 5pc;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: 20px;
    text-align: center;
    transition: all 0.25s;
    background-color: white;
}

.container .tomate:hover{
    
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}

.container .tomate img{
    
    width: 220px;
    height: 220px;
}

.container .tomate h4{
    
    font-weight: 600;
    color:black;
}

.container {
     
    width: 100%;
    max-width: 1200px;
    height: 430px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    
}

.container .verduras{
    
    width: 290px;
    height: 280px;
    border-radius: 5pc;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: 20px;
    text-align: center;
    transition: all 0.25s;
    background-color: white;
}

.container .verduras:hover{
    
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}

.container .verduras img{
    
    width: 220px;
    height: 220px;
}

.container .verduras h4{
    
    font-weight: 600;
    color:black;
}

.container {
     
    width: 100%;
    max-width: 1200px;
    height: 430px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    
}

.container .frutas{
    
    width: 290px;
    height: 280px;
    border-radius: 5pc;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: 20px;
    text-align: center;
    transition: all 0.25s;
    background-color: white;
}

.container .frutas:hover{
    
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}

.container .frutas img{
    
    width: 220px;
    height: 220px;
}

.container .frutas h4{
    
    font-weight: 600;
    color:black;
}

.container {
     
    width: 100%;
    max-width: 1200px;
    height: 430px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    
}

.container .fresas{
    
    width: 290px;
    height: 280px;
    border-radius: 5pc;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: 20px;
    text-align: center;
    transition: all 0.25s;
    background-color: white;
}

.container .fresas:hover{
    
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}

.container .fresas img{
    
    width: 250px;
    height: 220px;
}

.container .fresas h4{
    
    font-weight: 600;
    color:black;
}


